In [37]:
# load libraries
import google.datalab.bigquery as bq
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [70]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_employees
FROM `w210-fedwork.processed_data.status`

QueryResultsTable job_qBLW_odMXD-NRqE2Wz3kUA4H3ASx

In [1]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_employees
FROM `w210-fedwork.processed_data.dynamic`

QueryResultsTable job_zjNseFNGitM-F-MDzPSL25_ft9Cs

#### Are there employees in dynamic that do NOT exist in status?

In [71]:
%%bq query 

SELECT COUNT(DISTINCT a.emp_id) as num_employees, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.dynamic` as a 
LEFT OUTER JOIN `w210-fedwork.processed_data.status` as b
ON a.emp_id=b.emp_id
WHERE b.emp_id IS NULL

QueryResultsTable job_z3v1tpkuN6Dp5ElT06dwEDigHnh-

###### Should we join on agency? Check the number of employees with multiple agencies in status

In [72]:
%%bq query 
SELECT count(emp_id) as num_emp_mult_agencies
FROM (
    SELECT emp_id, year_file_dt, quarter_file_dt, COUNT(DISTINCT agency) as num_agencies
    FROM `w210-fedwork.processed_data.status`
    GROUP BY emp_id,year_file_dt, quarter_file_dt
  )
WHERE num_agencies >1

QueryResultsTable job_plzLSMJsibzcWqmfQCovDgqDMsIy

#### Join status and dynamic.

##### Number employees in joint table (merging on employee id only)

In [76]:
%%bq query 

-- First, join on emp

SELECT COUNT(DISTINCT s.emp_id) as num_emp, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status` as s
JOIN `w210-fedwork.processed_data.dynamic` as d
ON s.emp_id=d.emp_id

QueryResultsTable job_fh__80Ogv_ErZlMlhokcAoZkvLoB

##### Number employees in joint table (merging on employee id, year and quarter)

In [74]:
%%bq query 

-- Second, join on emp, year, quarter
SELECT COUNT(DISTINCT s.emp_id) as num_emp, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status` as s
JOIN `w210-fedwork.processed_data.dynamic` as d
ON s.emp_id=d.emp_id 
AND s.year_file_dt=d.year_eff_dt 
AND s.quarter_file_dt=d.quarter_eff_dt

QueryResultsTable job_UJCmqHC-I25UfCZYBJrpc1TieliP

##### Number employees in joint table (merging on employee id, year and quarter, agency)

In [75]:
%%bq query 

-- Third, join on emp, year, quarter, agency
SELECT COUNT(DISTINCT s.emp_id) as num_emp, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status` as s
JOIN `w210-fedwork.processed_data.dynamic` as d
ON s.emp_id=d.emp_id 
AND s.year_file_dt=d.year_eff_dt 
AND s.quarter_file_dt=d.quarter_eff_dt 
AND s.agency=d.agency

QueryResultsTable job_t24qHZNZ-_w0cZDARUZS7TQ3yvSA

### Analysis of table status_dynamic



* Note, the merge to create table status_dynamic was done with keeping all records from status and records from dynamic that match on emp_id, year, quarter and agency

##### Num employees in status_dynamic

In [60]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_emp
FROM `w210-fedwork.processed_data.status_dynamic`

QueryResultsTable job_fqIgR_CafGR3QnYWCqJGE1DvwHR2

##### Num employees in status_dynamic with records excluded from dynamic table

In [59]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_emp_records_excluded

FROM (

  --Get max year-quarter from merged table and max-year quarter from records excluded from the merge

  SELECT emp_id, max(year) as year, max(quarter) as quarter, max(year_eff_dt) as year_ex, max(quarter_eff_dt) as quarter_ex
  FROM (

      --Get employees who exists in both dynamic and status tables and who have records excluded from the merge on emp_id, year and quarter. 
      SELECT a1.emp_id, a1.year, a1.quarter, ex.year_eff_dt, ex.quarter_eff_dt
      FROM `w210-fedwork.processed_data.status_dynamic` as a1
      JOIN (

          -- Get records that are excluded from the merge on emp_id, year, quarter (for now we will ignore agency)
          SELECT DISTINCT a.*
          FROM `w210-fedwork.processed_data.dynamic` as a
          LEFT OUTER JOIN `w210-fedwork.processed_data.status_dynamic` as b
          ON a.emp_id=b.emp_id 
          AND a.year_eff_dt=b.year 
          AND a.quarter_eff_dt=b.quarter
          WHERE b.emp_id IS NULL
      ) AS ex
      ON a1.emp_id=ex.emp_id

  )
  GROUP BY emp_id
)

QueryResultsTable job_zzbXjpZifatrp8jyBl4yuEYqS7vZ

##### Num emp in status_dynamic table with records excluded from dynamic where file date > effective date (using year and quarter for both dates)

In [62]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_emp_records_exc_dyn_gt_merge

FROM (

  --Get max year-quarter from merged table and max-year quarter from records excluded from the merge

  SELECT emp_id, max(year) as year, max(quarter) as quarter, max(year_eff_dt) as year_dynamic, max(quarter_eff_dt) as quarter_dynamic
  FROM (

      --Get employees who had record excluded from the merge of dynamic and status tables. 
      SELECT a1.emp_id, a1.year, a1.quarter, ex.year_eff_dt, ex.quarter_eff_dt
      FROM `w210-fedwork.processed_data.status_dynamic` as a1
      JOIN (

          -- Get records that were excluded from the merge on emp_id, year, quarter (for now we will ignore agency)
          SELECT DISTINCT a.*
          FROM `w210-fedwork.processed_data.dynamic` as a
          LEFT OUTER JOIN `w210-fedwork.processed_data.status_dynamic` as b
          ON a.emp_id=b.emp_id 
          AND a.year_eff_dt=b.year 
          AND a.quarter_eff_dt=b.quarter
          WHERE b.emp_id IS NULL
      ) AS ex
      ON a1.emp_id=ex.emp_id

  )
  GROUP BY emp_id
)  
WHERE (year>year_dynamic) or (year=year_dynamic and quarter>quarter_dynamic)

QueryResultsTable job_6qJgr-7VvGMlF5WbF2gFkjYI0U4_

##### Num emp in status_dynamic table with records excluded from dynamic where file date < effective date (using year and quarter for both dates)

* These might be records where accessing indicator is quit, retirement, etc
* These might be records where the record for quit or retirement was file in the following quarter

In [63]:
%%bq query 
SELECT COUNT(DISTINCT emp_id) as num_emp_records_exc_dyn_lt_merge

FROM (

  --Get max year-quarter from merged table and max-year quarter from records excluded from the merge

  SELECT emp_id, max(year) as year, max(quarter) as quarter, max(year_eff_dt) as year_ex, max(quarter_eff_dt) as quarter_ex
  FROM (

      --Get employees who had record excluded from the merge of dynamic and status tables. 
      SELECT a1.emp_id, a1.year, a1.quarter, ex.year_eff_dt, ex.quarter_eff_dt
      FROM `w210-fedwork.processed_data.status_dynamic` as a1
      JOIN (

          -- Get records that were excluded from the merge on emp_id, year, quarter (for now we will ignore agency)
          SELECT DISTINCT a.*
          FROM `w210-fedwork.processed_data.dynamic` as a
          LEFT OUTER JOIN `w210-fedwork.processed_data.status_dynamic` as b
          ON a.emp_id=b.emp_id 
          AND a.year_eff_dt=b.year 
          AND a.quarter_eff_dt=b.quarter
          WHERE b.emp_id IS NULL
      ) AS ex
      ON a1.emp_id=ex.emp_id

  )
  GROUP BY emp_id
)  
WHERE (year<year_ex) or (year=year_ex and quarter<quarter_ex)

QueryResultsTable job_my91rzLG7lBNYX0N6-T7IRGxgEHp

##### Example of employees with records excluded from dynamic table where file date (status) < effective date (dynamic)

In [2]:
%%bq query 

SELECT emp_id, year, quarter, year_dynamic, quarter_dynamic

FROM (

  --Get max year-quarter from merged table and max-year quarter from records excluded from the merge

  SELECT emp_id, max(year) as year, max(quarter) as quarter, max(year_eff_dt) as year_dynamic, max(quarter_eff_dt) as quarter_dynamic
  FROM (

      --Get employees who had record excluded from the merge of dynamic and status tables. 
      SELECT a1.emp_id, a1.year, a1.quarter, ex.year_eff_dt, ex.quarter_eff_dt
      FROM `w210-fedwork.processed_data.status_dynamic` as a1
      JOIN (

          -- Get records that were excluded from the merge on emp_id, year, quarter (for now we will ignore agency)
          SELECT DISTINCT a.*
          FROM `w210-fedwork.processed_data.dynamic` as a
          LEFT OUTER JOIN `w210-fedwork.processed_data.status_dynamic` as b
          ON a.emp_id=b.emp_id 
          AND a.year_eff_dt=b.year 
          AND a.quarter_eff_dt=b.quarter
          WHERE b.emp_id IS NULL
      ) AS ex
      ON a1.emp_id=ex.emp_id

  )
  GROUP BY emp_id
)  
WHERE (year<year_dynamic) or (year=year_dynamic and quarter<quarter_dynamic)
LIMIT 15

QueryResultsTable job_B1w9b1uHvd6PQv-lKbyJvq5AUhck

In [4]:
%%bq query 
select *
FROM `w210-fedwork.processed_data.dynamic`
where emp_id in ('002646424', '003128136','005766556')
order by emp_id, effective_dt

QueryResultsTable job_xyWuebXN3MP-r73hRRUBHbw9ut3H

In [5]:
%%bq query 
select *
FROM `w210-fedwork.processed_data.status`
where emp_id in ('002646424', '003128136','005766556')
order by emp_id, file_dt

QueryResultsTable job_0DDyzTjryOn9i-OsAacz6Orm-s7R

##### Num employees with multiple work status (partime and full time)

In [77]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_emp_multiple_status
FROM (
   SELECT emp_id, max(nsftp_ind) as max_nsftp, min(nsftp_ind) as min_nsftp
   FROM `w210-fedwork.processed_data.status_dynamic` 
   GROUP BY emp_id
   HAVING max_nsftp<>min_nsftp
   

)

QueryResultsTable job_Pr-cS0Fe0_TW3bCbDq-x74IINCXQ

In [10]:
%%bq query 

SELECT COUNT(DISTINCT emp_id) as num_emp_one_month_excluded
--emp_id, year, quarter, file_dt, year_dynamic, quarter_dynamic, effective_dt

FROM (

  --Get max year-quarter from merged table and max-year quarter from records excluded from the merge

  SELECT emp_id, max(year) as year, max(quarter) as quarter, max(file_dt) as file_dt, max(year_eff_dt) as year_dynamic, max(quarter_eff_dt) as quarter_dynamic, max(effective_dt) as effective_dt
  FROM (

      --Get employees who had records excluded from the merge of dynamic and status tables. 
      SELECT a1.emp_id, a1.year, a1.quarter, a1.file_dt, ex.year_eff_dt, ex.quarter_eff_dt, ex.effective_dt
      FROM `w210-fedwork.processed_data.status_dynamic` as a1
      JOIN (

          -- Get records that were excluded from the merge on emp_id, year, quarter (for now we will ignore agency)
          SELECT DISTINCT a.*
          FROM `w210-fedwork.processed_data.dynamic` as a
          LEFT OUTER JOIN `w210-fedwork.processed_data.status_dynamic` as b
          ON a.emp_id=b.emp_id 
          AND a.year_eff_dt=b.year 
          AND a.quarter_eff_dt=b.quarter
          WHERE b.emp_id IS NULL
      ) AS ex
      ON a1.emp_id=ex.emp_id
  )
  GROUP BY emp_id
)  
WHERE ((year<year_dynamic) or (year=year_dynamic and quarter<quarter_dynamic))
AND (DATE_DIFF(effective_dt,file_dt, MONTH)=1)  
--LIMIT 15

QueryResultsTable job_F6A7-pzzItC4tzx73iyZ43MqR7fq

Summary

* Num employees in status table : 4,375,415 
* Num employees in dynamic table : 3,871,680 
* Num employees in dynamic that do NOT exist in status table : 150,475 
* Num employees in status with multiple agencies :  157,658   (3.6%) We can join on agency since we will not be dropping many records. 
* Num employees in merged table 'status_dynamic' that have records excluded from the merge on year, quarter : 2,033,471 


status_dynamic table (created with all records from status and using values from dynamic for those records that join on emp_id, year, quarter, agency)

* Num employees in table 'status_dynamic' : 4,375,415. 
* Num employees in merged table 'status_dynamic' that have records excluded where file_date (status table) > effective_date (dynamic table) : 996,589  . Expected, people have not quit, or have not had a change. 
* Num employees in merged table 'status_dynamic' that have records excluded where file_date (status table) < effective_date (dynamic table) : 791,343  . See example below
* Num employees in merged table 'status_dynamic' that have records excluded with one month appart between file_date and effective_date: 307,131
* Num employees in merged table 'status_dynamic' that have records as full time and part time employees (nsftp=1 and 2) : 639,265



Analysis of possible joins

* Num employees that exist in status and dynamic tables when joining on emp_id : 3,721,205 (total number of merged records: 150,544,943) 
* Num employees that exist in status and dynamic tables when joining on emp_id, year, quarter : 2,858,649 (total number of merged records: 4,741,798) 
* Num employees that exist in status and dynamic tables when joining on emp_id, year, quarter, agency : 2,852,560 (total number of merged records: 4,183,605) 


Comments

* It is safe to include agency in the join since joining on agency does not significantly reduce the number of records.

### Additional EDA for invalid values in status_dyanmic table

In [20]:
%%bq query 

SELECT duty_station, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status_dynamic`
WHERE duty_station IN ('*********', '#########', '         ')
GROUP BY duty_station

QueryResultsTable job_SMxcG4Hg-nKu_47yjWuau3TMjXZn

In [21]:
%%bq query 

SELECT education_level, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status_dynamic`
WHERE (education_level IN ('**', '##', '')) 
GROUP BY education_level

QueryResultsTable job_LnEaertlI5-Vu5I5rS7gfr_yPPeK

In [7]:
%%bq query 

SELECT grade, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (grade IN ('**', '##', '')) 
GROUP BY grade

QueryResultsTable job_ao1o3BjM_YSIsrPzZqo2y5k4bPg5

In [8]:
%%bq query 

SELECT occupation, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (occupation IN ('****', '####', '')) 
GROUP BY occupation

QueryResultsTable job_j1aYAyX7Q7uxIl3jldL_gS0wgXCC

In [9]:
%%bq query 

SELECT occupation_cat, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (occupation_cat IN ('*', '#', '')) 
GROUP BY occupation_cat

QueryResultsTable job_vpQChhReMXf-ockijIdWYcxvI8S3

In [10]:
%%bq query 

SELECT pay_plan, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (pay_plan IN ('**', '##', '')) 
GROUP BY pay_plan

QueryResultsTable job_DYTeabv-7i_SXY3B8-qfknA1QaMZ

In [11]:
%%bq query 

SELECT superv_status, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (superv_status IN ('*', '#', '', ' ')) 
GROUP BY superv_status

QueryResultsTable job_HFrs-ixp4vhd0mCh9sbVFvN8eWBe

In [12]:
%%bq query 

SELECT type_appoint, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (type_appoint IN ('**', '##', '', '  ')) 
GROUP BY type_appoint

QueryResultsTable job_u97xr2F-Zu1lqM9TOXaycwMqHEB5

In [14]:
%%bq query 

SELECT work_schedule, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.status`
WHERE (work_schedule IN ('*', '#', '', ' ')) 
GROUP BY work_schedule

QueryResultsTable job_2GxHe_ZTcMO-GHmls_fuwF92gcQZ

In [15]:
%%bq query 

SELECT duty_station, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.dynamic`
WHERE (work_schedule IN ('*********', '#########', '', '         ')) 
GROUP BY duty_station

QueryResultsTable job_VxyqEpkMrUWo5j8DYgbEFUuHU6-3

In [16]:
%%bq query 

SELECT grade, COUNT(*) as num_records
FROM `w210-fedwork.processed_data.dynamic`
WHERE (grade IN ('**', '##', '')) 
GROUP BY grade

QueryResultsTable job_5Z1wSRE_0qQCTkYIlXdCCThSyycD

### Ignore the rest for now

In [32]:
emp_comb = bq.Query('SELECT emp_id, file_dt, agency, duty_station, age, education_level, pay_plan, grade, los \
                              ,occupation, occupation_cat, superv_status, type_appoint, work_schedule \
                             ,nsftp_ind, acces_sep_ind \
                        FROM `processed_data.status_dynamic` \
                        LIMIT 100000')
emp_comb = emp_comb.execute(output_options=bq.QueryOutput.dataframe()).result()
emp_comb.head()

,emp_id,file_dt,agency,duty_station,age,education_level,pay_plan,grade,los,occupation,occupation_cat,superv_status,type_appoint,work_schedule,nsftp_ind,acces_sep_ind
0,010089894,2005-09-30,LT00,110010001,20-24,08,None,None,5-9,None,None,8,10,F,1,SC
1,004965299,2003-09-30,HE37,462800023,20-24,01,None,None,1-2,None,None,8,48,F,2,None
2,009948076,2003-09-30,LT00,*********,UNSP,None,GS,None,UNSP,None,None,None,None,None,2,None
3,001294448,2009-06-30,HSBD,#########,60-64,10,GS,None,25-29,None,None,8,10,F,1,None
4,001981593,2002-06-30,ARX6,*********,50-54,04,None,None,UNSP,None,None,8,10,None,2,None

In [ ]:
# emp_comb = bq.Query.from_table(bq.Table('processed_data.status_dynamic'), fields=['emp_id', 'file_dt', 'agency', 'duty_station', 'age', 'education_level', 'pay_plan', 'grade', 'los'
#                                                                             ,'occupation', 'occupation_cat', 'basic_pay', 'superv_status', 'type_appoint', 'work_schedule'
#                                                                             , 'nsftp_ind', 'acces_sep_ind']).execute().result().to_dataframe().set_index('emp_id', 'file_dt','agency')

In [33]:
emp_comb.describe()

,emp_id,file_dt,agency,duty_station,age,education_level,pay_plan,grade,los,occupation,occupation_cat,superv_status,type_appoint,work_schedule,nsftp_ind,acces_sep_ind
count,100000,100000,100000,100000,100000,99326,99919,99887,100000,99982,99959,99999,99993,99998,100000,4472
unique,75089,24,91,1005,14,22,35,161,11,246,6,6,14,6,2,13
top,003237193,2002-12-13,TD03,#########,45-49,04,SV,DD,5-9,2152,A,8,38,F,1,AD
freq,7,6052,42591,52431,17352,38356,29369,8591,17031,22400,52082,77880,75549,88081,83917,3677

In [34]:
import seaborn as sns

In [54]:
data_dummies = pd.get_dummies(emp_comb, columns =['age', 'education_level', 'occupation_cat', 'type_appoint', 'work_schedule', 'acces_sep_ind'])

In [50]:
data_dummies.head()

,emp_id,file_dt,agency,duty_station,los,occupation,superv_status,nsftp_ind,age_15-19,age_20-24,...,acces_sep_ind_SA,acces_sep_ind_SC,acces_sep_ind_SD,acces_sep_ind_SE,acces_sep_ind_SF,acces_sep_ind_SG,acces_sep_ind_SH,acces_sep_ind_SJ,acces_sep_ind_SK,acces_sep_ind_SL
0,010089894,2005-09-30,LT00,110010001,5-9,None,8,1,0,1,...,0,1,0,0,0,0,0,0,0,0
1,004965299,2003-09-30,HE37,462800023,1-2,None,8,2,0,1,...,0,0,0,0,0,0,0,0,0,0
2,009948076,2003-09-30,LT00,*********,UNSP,None,None,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,001294448,2009-06-30,HSBD,#########,25-29,None,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,001981593,2002-06-30,ARX6,*********,UNSP,None,8,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
data_dummies.columns

Index([u'emp_id', u'file_dt', u'agency', u'duty_station', u'pay_plan',
       u'grade', u'los', u'occupation', u'superv_status', u'nsftp_ind',
       u'age_15-19', u'age_20-24', u'age_25-29', u'age_30-34', u'age_35-39',
       u'age_40-44', u'age_45-49', u'age_50-54', u'age_55-59', u'age_60-64',
       u'age_65-69', u'age_70-74', u'age_75+', u'age_UNSP',
       u'education_level_01', u'education_level_02', u'education_level_03',
       u'education_level_04', u'education_level_05', u'education_level_06',
       u'education_level_07', u'education_level_08', u'education_level_09',
       u'education_level_10', u'education_level_11', u'education_level_12',
       u'education_level_13', u'education_level_14', u'education_level_15',
       u'education_level_16', u'education_level_17', u'education_level_18',
       u'education_level_19', u'education_level_20', u'education_level_21',
       u'education_level_22', u'occupation_cat_A', u'occupation_cat_B',
       u'occupation_cat_C', u'occupation_cat_O', u'occupation_cat_P',
       u'occupation_cat_T', u'type_appoint_10', u'type_appoint_15',
       u'type_appoint_20', u'type_appoint_30', u'type_appoint_32',
       u'type_appoint_35', u'type_appoint_38', u'type_appoint_40',
       u'type_appoint_42', u'type_appoint_44', u'type_appoint_45',
       u'type_appoint_46', u'type_appoint_48', u'type_appoint_50',
       u'work_schedule_F', u'work_schedule_G', u'work_schedule_I',
       u'work_schedule_J', u'work_schedule_P', u'work_schedule_Q',
       u'acces_sep_ind_AA', u'acces_sep_ind_AC', u'acces_sep_ind_AD',
       u'acces_sep_ind_SA', u'acces_sep_ind_SC', u'acces_sep_ind_SD',
       u'acces_sep_ind_SE', u'acces_sep_ind_SF', u'acces_sep_ind_SG',
       u'acces_sep_ind_SH', u'acces_sep_ind_SJ', u'acces_sep_ind_SK',
       u'acces_sep_ind_SL'],
      dtype='object')